.contact__options{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    flex-wrap: wrap;
    text-align: center;
}

svg{
    font-size: 20px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea{
    width: 78vw;
    border: 1px solid  var(--color-primary);
    border-radius: 4px;
    padding: 5px;
    background: transparent;
    color: white;
}

input{
    height: 50px;
}

textarea{
    height: 200px;
}